In [ ]:
1+1
9

2

In [2]:
9

9

In [3]:
9+9 #here 9 is operater and + is operand

18

In [4]:
9-9

0

In [5]:
10*2

20

In [ ]:
10/2  #this is called float division

5.0

In [ ]:
10//2  #this is called int division

5

In [8]:
3*2

6

In [ ]:
3**2 # here ** means 3 to the power 2.

9

In [10]:
3**3

27

In [ ]:
_    # underscore print previous output.

27

In [12]:
3*3

9

In [14]:
_+3

12

In [15]:
_+3

15

In [16]:
_-3

12

In [ ]:
3+6*4-2-1  #using DMAS

24

In [18]:
3+6*4-(2-1)

26

In [ ]:
math.pi  #how to print pi value(here math is not defined so get error)

NameError: name 'math' is not defined

In [21]:
import math
math.pi

3.141592653589793

In [ ]:
math.ceil(9.4)  #ceil value print

10

In [ ]:
math.floor(9.4)  #floor value print

9

Work with text

In [24]:
hello world # this is a text

SyntaxError: invalid syntax (3562481398.py, line 1)

# non technically we called as text but technically we called as string and string defined as ' '/" "/''' '''

In [ ]:
'hello world'  #single line comment

'hello world'

In [ ]:
"hello world"  #single line comment

'hello world'

In [ ]:
'''hello world'''   #single line comment

'hello world'

In [ ]:
'hell
world'

SyntaxError: unterminated string literal (detected at line 1) (3924038793.py, line 1)

In [30]:
"hello 
world"

SyntaxError: unterminated string literal (detected at line 1) (608586654.py, line 1)

In [ ]:
'''hello 
world''' # only ''' ''' are used to print for double line comment

'hello\nworld'

In [ ]:
# we get error if use ' '/" " for double line comments

String Slicing

In [33]:
s = 'hello'
s

'hello'

In [ ]:
s[0]  #this is called indexing

'h'

In [ ]:
s[1] #python indexing begins with 0 so the formula we write n=n-1

'e'

In [ ]:
s[10] #here in hello have no 10th index , so we get error

IndexError: string index out of range